{% extends "/layout/back.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h3>Liste des articles</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre</th>
					<th scope="col">User</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<th scope="row">{{post.id}}</th>

						<td>{{post.title}}</td>
						<td>{{post.user.username}}</td>
						<td>{{post.categorie.name}}</td>


						<td>
							<a href='{{route('admin.editPost',{'id': post.id})}}' class="btn btn-primary">


								<i class="fas fa-edit"></i>
								Editer
							</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</tbody>
	</table>
</div>
<div class="col-md-6">
	<h3>Liste des commentaires non approuvé</h3>
	<table class="table">
		<thead>


			<tr>
				<th scope="col">#</th>
				<th scope="col">Contenu</th>
				<th scope="col">Article</th>
				<th scope="col">User</th>


				<th scope="col">Action</th>
			</tr>

		</thead>
		<tbody>
			{% for comment in comments %}

				<tr>
					<th scope="row">{{comment.id}}</th>

					<td>{{comment.content}}</td>
					<td>
						<a href="{{route('post.show',{'slug': comment.post.slug, 'id': comment.post.id})}}" target="_blank" title="Voir l'article">

							{{comment.post.title}}
						</a>
					</td>


					<td>{{comment.user.username}}</td>


					<td>
						<a href='{{route('admin.appouvOrDelete',{'id': comment.id, 'action': 'approve'})}}' class="btn btn-primary btn-sm">


							<i class="fas fa-check-circle"></i>Approuvé

						</a>

						<a href='{{route('admin.appouvOrDelete',{'id': comment.id, 'action': 'delete'})}}' class="btn btn-danger btn-sm">

							<i class="fas fa-trash"></i>Supprimer

						</a>
					</td>
				</tr>
			</td>
		</tbody>
	</td>
</tr>{% endfor %}</tbody></table></div></div>{% endblock %}
