<html>
	<head></head>
	<body>

		<p>Bonjour</p>

		<p>
			{{user.firstname}}
			{{user.lastname}}, vous envoie ce message:

		</p>
		<p>
			{{user.message}}

		</p>
		<p>au sujet de
			{{user.subject}}</p>


		<p>Email de contact:
			{{user.email}}

		</p>


	</body>
</html>
