<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.79.0">
		<title>
			{% block title %}Nicolas de Fontaine
			{% endblock %}
		</title>

		<link
		rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
		<!-- Bootstrap core CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
		<link
		href="/css/main.css" rel="stylesheet" crossorigin="anonymous">


		<!-- Favicons -->
		<meta name="theme-color" content="#7952b3">


		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>


	</head>
	<body>

		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{route('home.index')}}">Blog.dev</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item">
								<a class="nav-link" href="{{route('posts.index')}}">Articles</a>


							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{route('contact.page')}}">contact</a>

							</li>


						</ul>
						<div class="d-flex">
							<ul class="navbar-nav me-auto mb-2 mb-md-0">
								{% if auth == null%}
									<li class="nav-item">

										<a class="nav-link" aria-current="page" href="{{route('users.login')}}">

											<i class="fa fa-user"></i>
											Connexion/Inscription
										</a>
									</li>
								{% else %}
									<li class="nav-item">
										<a class="nav-link" href="{{route('users.profile')}}">

											<i class="fa fa-user"></i>
											{{auth.username}}
										</a>

									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{route('users.logout')}}">

											<i class="fa fa-delete"></i>
											Déconnexion
										</a>

									</li>

								{% endif %}
							</ul>

						</div>

					</div>
				</div>
			</nav>
		</header>


		<main style="margin-top: 100px !important;">

			<div class="container" style='margin-top: 10px'>
				<div class="row">
					{% for flash in flashs %}

						<div class="alert alert-{{flash.type}}" role="alert">

							{{flash.message}}
						</div>
					{% endfor %}

				</div>
			</div>


			{% block content %}{% endblock %}

		</main>

		<footer class="text-muted py-5">
			<div class="container">

				{% if auth.role == 'Admin' %}
					<p class="mb-0">Connecté en tant que
						{{auth.role}}, accèder au
						<a href="{{route('admin.index')}}">
							back-office
						</a>
					</p>
				{% endif %}

			</div>
			<p></p>
		</body>
	</body>
</html></footer><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script></body></html>
